body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content:space-around;
    
}

.title {
    font-weight: lighter;
}

.main-img {
    box-shadow: 0px 2px 5px lightgray;
    margin:0 30px;
    width:400px;
    height: 600px;
    
}
.crumb{
    color:#565959;
    text-align: start;
}
.secondcolumn{
    margin:30px;
}
.link-color{
    color:#007185;
}
.title{
    width:400px;
}
.first-par{
    width:400px;
}
.sec-par{
    width:400px;
}
.third-par{
    width:400px;
}

